{% extends 'blog/base.html' %}
{% block title %}
{{article.title}}
{% endblock %}
{% block main %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{article.title}}</h1>
                    <span class="subheading">{{article.slug}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="section-heading">{{article.title}}</h2>

                <p>{{article.description|linebreaks}}</p>

                <a href="#">
                    <img class="img-fluid" src="{{article.thumbnail.url}}" alt="">
                </a>
                <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

                <p>Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
            </div>
        </div>
    </div>
</article>

<hr>

{% endblock %}